In [1]:
from sklearn import tree
import graphviz 
import pydotplus
import pandas as pd
import numpy as np

In [2]:
#load data
data_df = pd.read_csv("../db/stock_data_with_perf_fixed.csv")
data_df.columns

C:\Users\rpaul\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['name', 'ticker', 'Quarter end', 'Shares', 'Shares split adjusted',
       'Split factor', 'Assets', 'Current Assets', 'Liabilities',
       'Current Liabilities', 'Shareholders equity',
       'Non-controlling interest', 'Preferred equity',
       'Goodwill & intangibles', 'Long-term debt', 'Revenue', 'Earnings',
       'Earnings available for common stockholders', 'EPS basic',
       'EPS diluted', 'Dividend per share', 'Cash from operating activities',
       'Cash from investing activities', 'Cash from financing activities',
       'Cash change during period', 'Cash at end of period',
       'Capital expenditures', 'Price', 'Price high', 'Price low', 'ROE',
       'ROA', 'Book value of equity per share', 'P/B ratio', 'P/E ratio',
       'Cumulative dividends per share', 'Dividend payout ratio',
       'Long-term debt to equity ratio', 'Equity to assets ratio',
       'Net margin', 'Asset turnover', 'Free cash flow per share',
       'Current ratio', 'mktcap_revenue_value', 'mktcap_free_cash_flow_value',
       'mktcap_cash_value', 'cash_oper_gt_earnings_value',
       'entvalue_earnings_value', 'marketcap_bookvalue_value',
       'quarter_return', 'two_quarter_return', 'one_year_return',
       'two_year_return', 'three_year_return', 'four_year_return',
       'five_year_return', 'seven_year_return', 'ten_year_return',
       'twelve_year_return', 'fifteen_year_return'],
      dtype='object')

In [22]:
#specify the features(measures) and target (label) to be used. Change year / time frame for diffrent scenarios

#get features data to be used
features_columns = ['EPS basic','ROE','ROA', 'P/B ratio', 'P/E ratio', 'Dividend payout ratio',
                   'Long-term debt to equity ratio', 'Equity to assets ratio', 'Free cash flow per share',
                   'Current ratio', 'mktcap_revenue_value', 'mktcap_free_cash_flow_value',
                   'mktcap_cash_value', 'cash_oper_gt_earnings_value',
                   'entvalue_earnings_value', 'marketcap_bookvalue_value']

features_data_df = data_df[features_columns]
data = features_data_df.values

#get target data
target_values = ['no','yes']

selected_target_column = 'three_year_return'

data_df.loc[data_df[selected_target_column] >= 5.0, 'Value_stock'] = 1
data_df.loc[data_df[selected_target_column] < 5.0, 'Value_stock'] = 0
target = data_df['Value_stock'].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [23]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7825315591948141

In [21]:
sorted(zip(rf.feature_importances_, features_columns), reverse=True)

[(0.14624161049601142, 'ROA'),
 (0.1260902282091179, 'P/E ratio'),
 (0.10060328494107067, 'P/B ratio'),
 (0.09954833898417625, 'ROE'),
 (0.08510751318616025, 'EPS basic'),
 (0.07628483559933183, 'Equity to assets ratio'),
 (0.07287064289644024, 'Current ratio'),
 (0.07030526281998319, 'Free cash flow per share'),
 (0.06745029697717024, 'Dividend payout ratio'),
 (0.06570419405047107, 'Long-term debt to equity ratio'),
 (0.04826464171754189, 'cash_oper_gt_earnings_value'),
 (0.019105097880554575, 'mktcap_cash_value'),
 (0.011976184145755957, 'mktcap_revenue_value'),
 (0.008401787710371476, 'marketcap_bookvalue_value'),
 (0.0011138952769899433, 'mktcap_free_cash_flow_value'),
 (0.0009321851088531502, 'entvalue_earnings_value')]

In [17]:
data_df.head()

,name,ticker,Quarter end,Shares,Shares split adjusted,Split factor,Assets,Current Assets,Liabilities,Current Liabilities,...,one_year_return,two_year_return,three_year_return,four_year_return,five_year_return,seven_year_return,ten_year_return,twelve_year_return,fifteen_year_return,Value_stock
0,NaN,CRA,2011-03-26,82181869,82181869,1,607664000,364389000,44109000,29630000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,CRA,2010-12-25,82113206,82113206,1,612278000,365667000,44805000,30514000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,CRA,2010-09-25,82078098,82078098,1,617005000,359707000,41036000,26951000,...,9.138187,-47.185081,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,CRA,2010-06-26,81987689,81987689,1,625593000,366249000,44013000,30068000,...,-0.512164,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,CRA,2010-03-27,81987689,81987689,1,625022000,363068000,39415000,25625000,...,-8.900836,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0